 <div id="home" class="intro route bg-image" style="background-image: url(img/intro-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">

<h2>Users</h2>



<ul>
 <% @users.each do |user| %>



   <li>
     <%= link_to user.first_name, user_path(user) %>
   </li>


   <br>

   <hr/>
 <% end %>
</ul>
</div>
</div>
</div>
</div>